<%# <h2>Sign up</h2> %>

<div class="container contform back-signup">
  <div class="col-12 col-lg-5">
    <div class="card-form">
      <div class="card-body p-5">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>

          <div class="form-inputs-signup">
            <%= f.input :username,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Inserisci username",
                        input_html: { autocomplete: "username" }%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Inserisci email",
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        label: false,
                        placeholder: "Inserisci password",
                        # hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        label: false,
                        placeholder: "Conferma password",
                        input_html: { autocomplete: "new-password" } %>
          <%= f.input :category,
                        collection: [ "Utente", "Attività" ],
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Scegli categoria",
                        input_html: { autocomplete: "category" }%>
            <%= f.input :nucleo,
                        required: true,
                        label: 'Solo se "Utente" inserire:',
                        prompt: "Num. nucleo",
                        :collection => 1..5,
                        input_html: { autocomplete: "nucleo" }%>
            <%= f.input :Isee,
                        required: true,
                        label: false,
                        prompt: "Isee in migliaia",
                        :collection => 1..30,
                        input_html: { autocomplete: "Isee" }%>

            <div class="form-actions">
              <%= f.button :submit, "Register now", class: "btn btn-gradient show-button" %>
            </div>

            <div class="div-login">
              <p class="dark header-signup">Hai già un account?</p>
              <%= render "devise/shared/links" %>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5">
  </div>
</div>
