<div class="container chatroom" data-controller="chatroom-subscription"

  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <% if @single_room%>

    <div class="d-flex align-items-center">
      <%= link_to products_path(query: params[:query]), class:"previous" do %>
        <i class="fa-solid fa-arrow-left" style="color: #337F4C;"></i>
      <% end %>
      <h1><%= @user.username %></h1>
    </div>

    <% @single_room.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>

    <%= simple_form_for [@single_room, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Invio", class: "btn btn-primary mb-3" %>
    <% end %>

  <% end %>

</div>
