<div class="footer">
  <div class="footer-links">
    <div class="row">

      <% if user_signed_in? %>

        <% if current_user.category == "Attività" %>
          <div class="col-3">
            <%= link_to products_path do %>
              <i class="fa-solid fa-house"></i>
            <% end %>
          </div>

          <div class="col-3">
            <%= link_to chatrooms_path do %>
              <i class="fa-solid fa-headset"></i>
            <% end %>
          </div>

          <div class="col-3">
            <%= link_to new_product_path do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
          </div>

          <div class="col-3">
            <%= link_to chat_path do %>
              <i class="fa-solid fa-comment"></i>
            <% end %>
          </div>

        <% else %>

          <div class="col-3">
            <%= link_to products_path do %>
              <i class="fa-solid fa-house"></i>
            <% end %>
          </div>

          <div class="col-3">
            <%= link_to chatrooms_path do %>
              <i class="fa-solid fa-comment"></i>
            <% end %>
          </div>

          <%# <div class="col-2">
            <%= link_to favorites_path do %>
              <%# <i class="fa-solid fa-heart"></i> %>
            <%# <% end %>
          <%# </div> %>

          <div class="col-3">
            <% unless current_user.orders.last.nil? %>
                <%= link_to new_order_payment_path(current_user.orders.last) do %>
                  <i class="fa-solid fa-cart-shopping"></i>
                <% end %>
            <% else %>
              <%= link_to products_path do %>
                <i class="fa-solid fa-cart-shopping"></i>
              <% end %>
            <% end %>
          </div>

          <div class="col-3">
            <%= link_to orders_path do %>
              <i class="fa-solid fa-user"></i>
            <% end %>
          </div>

        <% end %>

      <% end %>

    </div>
  </div>
</div>
