<div class="footer">
  <div class="footer-links">
    <div class="row">

      <div class="col-3">
        <%# <%= link_to root_path do %>
        <%= link_to products_path do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
      </div>

      <div class="col-3">
        <%= link_to products_path do %>
          <i class="fa-solid fa-search"></i>
        <% end %>
      </div>

      <div class="col-3">
        <%= link_to favorites_path do %>
          <i class="fa-solid fa-heart"></i>
        <% end %>
      </div>

      <div class="col-3">
        <%= link_to products_path do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </div>

    </div>
  </div>
</div>
