<div id="basket-container">
  <h3>Grazie <%= @user.email %> !</h3>
  <p>I tuoi acquisti ti stanno aspettando &#127881;</p>

  <%= link_to products_path do %>
    <h3><i class="fa-solid fa-check"></i></h3>
  <% end %>

  <p>Conferma d'ordine num. <%= @order.id %></p>

  <% @order.products.each do |product| %>
    <p><%= product.description %> : <span class="crossed-out"><%= product.price %> €</span></p>
  <% end %>

  <p>Importo totale: <%= @order.total_price %> € </p>
  <div class="qr-code">
    <%= @svg.html_safe %>
    <%= image_tag "logo2.jpg", class: "qr-code-logo" %>
  </div>
</div>
