<div>

  <%= link_to product_path(product, query: params[:query]) do %>

    <div class="row justify-content-center card-product">

      <div class="col-4">
        <% if product.photo.attached?%>
          <%= cl_image_tag(product.photo.key, class: "card-image", width: 80, height: 80, crop: :fill) %>
        <% end %>
      </div>

      <div class="col-7">
        <h4><%= product.description %></h5>
        <h6><%= product.business.name %></p>
        <p><%= product.note %></p>
        <%# <p><%= product.business.address %>
      </div>

      <%# <div class="col-1 card-product-heart">

        <div data-controller="add-to-cart">
            <%= button_to favorites_path, method: :create, remote: true, id: "heart-button", data: {
                          add_to_cart_target: "button",
                          action: "click->add-to-cart#create"
                          } do %>
            <%# <i class="fa-solid fa-heart" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-trigger="click" data-bs-placement="top"></i> %>
            <%# <% end %>
        <%# </div> %>

      <%# </div>  %>

    </div>

  <% end %>

</div>
