<div class="orders-container">

  <% if current_user.category == "Attività" %>
    <div class="searchbar-container">
      <div class="product-list">
        <% @products.each do |product| %>
            <%= render "new-card-bus", product: product %>
        <% end %>
      </div>
    </div>

  <% else %>
    <%# This is the searchbar %>
    <div class="searchbar-container">
      <%= form_with url: products_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Filtro città/prodotto"
        %>
        <%= image_submit_tag("search.jpg", class: "btn", id: "input-searchbar")  %>
      <% end %>
    </div>

    <%# This is the list of products to display %>
    <div class="product-list">
      <% @products.each do |product| %>
          <%= render "new-card", product: product %>
      <% end %>
    </div>

   <% end %>

</div>
