<!DOCTYPE html>
<html>
  <head>
    <title>ReddAl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="body-content">
      <% if action_name == "home" %>
        <%= render 'shared/navbarhome' %>
      <% else %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>

    <% unless action_name == "home" %>
      <%= render 'shared/footer' %>
    <% end %>

  </body>
</html>
